name: mcp

x-common-env: &common-env
  LANG: ${MCP_LANG:-ko_KR.UTF-8}
  TZ: ${MCP_TZ:-Asia/Seoul}

services:
  awesome-copilot:
    command:
      - "--http"
    container_name: mcp-awesome-copilot
    environment:
      <<: *common-env
      Logging__Console__LogToStandardErrorThreshold: Information
      Logging__LogLevel__Default: Warning
    image: ghcr.io/microsoft/mcp-dotnet-samples/awesome-copilot
    mem_limit: 128m
    ports:
      - "127.0.0.1:${MCP_AWESOME_COPILOT_PORT:-48080}:8080"
    restart: unless-stopped

  context7:
    build:
      context: .
      dockerfile: dockerfiles/context7.Dockerfile
    container_name: mcp-context7
    environment:
      <<: *common-env
      CONTEXT7_API_KEY: ${MCP_CONTEXT7_API_KEY:-}
    mem_limit: 128m
    ports:
      - "127.0.0.1:${MCP_CONTEXT7_PORT:-48082}:3000"
    restart: unless-stopped

  markitdown:
    build:
      context: .
      dockerfile: dockerfiles/markitdown-mcp.Dockerfile
    container_name: mcp-markitdown
    environment:
      <<: *common-env
    mem_limit: 128m
    ports:
      - "127.0.0.1:${MCP_MARKITDOWN_PORT:-48083}:3001"
    restart: unless-stopped
    volumes:
      - source: ${MCP_MARKITDOWN_WORKDIR_PATH:-${HOME}/Projects}
        target: ${MCP_MARKITDOWN_WORKDIR_PATH:-${HOME}/Projects}
        type: bind

  playwright:
    command:
      - cli.js
      - --headless
      - --browser
      - chromium
      - --no-sandbox
      - --host
      - 0.0.0.0
      - --port
      - "${MCP_PLAYWRIGHT_PORT:-48084}"
    container_name: mcp-playwright
    entrypoint:
      - node
    environment:
      <<: *common-env
    image: mcr.microsoft.com/playwright/mcp
    mem_limit: 128m
    ports:
      - "127.0.0.1:${MCP_PLAYWRIGHT_PORT:-48084}:${MCP_PLAYWRIGHT_PORT:-48084}"
    restart: unless-stopped
